// == TEXT COLORS ==
$primary-text: darken(black, 20%);
$secondary-text: gray;


// == THEME BGS ==
$primary-bg: rgb(114, 63, 63);

// == THEME STANDARD STYLES ==
$standard-border: 1px solid lightgray;