@import "variables";
@import "navbar";
@import "common";

body {
  margin: 0;
  * {
    color: $primary-text;
    font-family: "Raleway", sans-serif;
  }

  nav {
    font-size: 21px;
    font-weight: 200;
    @include nav-styles {
      border-bottom: $standard-border;
    }
    ul {
      @include common-list;
      padding-left: 20px;
      li {
        margin-right: 40px;
        a {
          text-decoration: none;
          color: $primary-text;
          &:hover {
            color: lighten($color: $primary-text, $amount: 15%);
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .page-header {
      @include headers;
      width: 80vw;
      margin-bottom: 0px;
	  margin-top: 20px;
      min-width: 200px;
    //   font-size: 60px;
      transform: translateY(0px);
      opacity: 0;
      text-align: center;
      -webkit-perspective: 1000;
      perspective: 1000;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
}

@for $h from 1 through 4 {
  $header-transition-duration: 0.7s;
  $delay: $h - 1;
  @keyframes drop-#{$h} {
    $initial: $h - 1;
    0% {
      transform: translateY(10vh + $initial * 2);
      opacity: 0;
    }
    100% {
      transform: translateY(15vh);
      opacity: 1;
    }
  }
  .animate-header-#{$h} {
	//   animation: name duration timing-function delay iteration-count direction fill-mode;
	animation: {
		name: drop-#{$h};
		duration: $header-transition-duration;
		timing-function: linear;
		delay: $header-transition-duration *($h - 1) + $delay;
		iteration-count: 1;
		fill-mode: forwards;
	};
    // animation: drop-#{$h}
    //   $header-transition-duration
    //   linear
    //   $header-transition-duration *
    //   ($h - 1) +
    //   $delay
    //   1
    //   forwards;

	  font-size: 60px - ($delay * 5);
  }
}
